body{
    color: #585555;
}
.main-header {
    position: relative;
    height: 61px;
    background: #1875d8;
}
.main-header .logo-txt{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
    text-decoration: none !important;
    padding: 17px 2px;
}
.logo-icon{
    display: inline-block;
    cursor: pointer;
    margin-top: -4px;
    font-size: 25px;
    color: #d2e838;
}
.wrapper {
    min-height: 100%;
    position: static;
    overflow: hidden;
    background-color: #ecf0f5;
}
.main-footer {
    background: #fff;
    padding: 15px 20px;
    color: #444;
    border-top: 1px solid #d2d6de;
    height: 50px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
}
.foot-link{
    cursor: pointer;
    color: #1875d8;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}
.pull-right{
    float:right;
}
#app-tbl thead tr{
    background: #5078c1;
    color: #fff;
}
#app-tbl tbody tr,#app-tbl tbody tr:hover {
    color: #525354;
    white-space: nowrap;
}
.edit-btn{
    display: inline-block;
    color: #26a73b;
    font-size: 22px;
    margin: 0 5px;
    cursor: pointer;
}
.del-btn{
    display: inline-block;
    color: #f11313;
    font-size: 22px;
    margin: 0 5px;   
    cursor: pointer; 
}
.app-form-box{
    background: #fff;
    padding: 21px;
    margin: 0 auto;
}
input[aria-invalid="true"],select[aria-invalid="true"]{
    margin-bottom: 20px;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: rgb(191, 22, 80) rgb(191, 22, 80) rgb(191, 22, 80) rgb(236, 89, 144);
    border-image: initial;
    background: rgb(251, 236, 242);
}
.app-form-box .submt-btn,.app-form-box .close-btn{
    display: inline;
    margin: 5px;
}
.app-form-box .close-btn svg{
    margin-top: -4px;
}